<main>
  <section class="topsection facilitiessection"> 
  	<div class="pageinnertab">
  		<ul>
  			<li><a routerLink="/portal-administration/facilities" routerLinkActive="active">facilities</a></li>
  			<li><a routerLink="/portal-administration/river-systems" routerLinkActive="active">river systems</a></li>
			<li><a routerLink="/portal-administration/regions" routerLinkActive="active">Regions</a></li>
			<li><a routerLink="/portal-administration/users-permissions" routerLinkActive="active">Users permissions</a></li>
  		</ul>

	  	<div class="head">
			<a (click)="openVerticallyCentered(content)"><i class="fa fa-plus-circle"></i> Add User</a>
		</div>
  	</div>
  	<div class="Notificationstable shorttable adminportal">
  		<div class="table-responsive">
  		  <table class="table">
  			<thead>
  			  <tr>
  				<th >Name <i class="fa fa-filter"></i></th>
  				<th ngbDropdown><span ngbDropdownToggle>Role <i class="fa fa-filter"></i></span>
		          <div ngbDropdownMenu class="filterdrop userfilter">
		          	<a href="#"><img src="assets/images/ic-sort-asc@2x.png" alt="Sort" />Sort ascending</a>
		          	<a href="#"><img src="assets/images/ic-sort-desc@2x.png" alt="Sort" />Sort descending</a>
      				<div class="dropdown-divider"></div>
      				<ul>
      					<li>
      						<label class="customcheck">User
							  <input type="checkbox">
							  <span class="checkmark"></span>
							</label>
						</li>
      					<li>
      						<label class="customcheck">Admin
							  <input type="checkbox">
							  <span class="checkmark"></span>
							</label>
						</li>
      				</ul>

      				<div class="dropdown-divider"></div>
				    <button type="button" class="btn btn-primary" >Ok</button>
				    <button type="button" class="btn btn-outline-primary">Cancel</button>
		          </div>
  				</th>
  				<th >Access <i class="fa fa-filter"></i></th>
  				<th style="width: 100px;"></th>
  			  </tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">Jones Ferdinand</td>
  					<td>Admin</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">James Cole </td>
  					<td>User</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">James Cole </td>
  					<td>User</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">James Cole </td>
  					<td>User</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">James Cole </td>
  					<td>User</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  				<tr>
  					<td routerLink="/portal-administration/users-permissions/edit-permissions">James Cole </td>
  					<td>User</td>
  					<td>Pacific, Notheast, Central, Atlantic</td>				
  					<td ngbDropdown>
			          <span ngbDropdownToggle><img src="assets/images/more.png" alt="more"></span>
			          <div ngbDropdownMenu>
			            <a ngbDropdownItem class="dropdown-item" (click)="openVerticallyCentered(content)" >Edit</a>
			            <a ngbDropdownItem class="dropdown-item" (click)="deletefac(deletefaciliti)" >Delete</a>
			          </div>
  					</td>
  				</tr>
  			</tbody>
  		  </table>
  		</div>
  		<div class="paginations">
  			<p>Rows per page: 4 <i class="fa fa-caret-down"></i></p>
  			<p>1-4 of 124 <i class="fa fa-angle-left"></i> <i class="fa fa-angle-right"></i></p>
  		</div>
  	</div>
  </section>

<!-- file modal -->
<ng-template #deletefaciliti let-modal>
  	<div class="deletemodal">
	  <div class="modal-body"> 
	  	<p>You are about to remove Safe Harbor facility. Are you sure?</p>
	    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Cancel</button>
	    <button type="button" class="btn btn-primary" >Remove</button>
	  </div>
	</div>
</ng-template>

<!-- Add User modal -->
<ng-template #content let-modal>
  <div class="alertmodal addusermodal">
  	<div class="modal-header">
   		<h4 class="modal-title">Add User</h4>    
  	</div>
  	<div class="modal-body">
    	<div class="alertleft adduser">
    		<div class="form-group">
			    <label>Full Name</label>
			    <input type="text" class="form-control" >
			</div>
    		<div class="form-group">
			    <label>Email</label>
			    <input type="email" class="form-control" >
			</div>
    		<div class="form-group">
			    <label>Role</label>
				<div class="checklabel">
					<label class="customcheck">User
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>
					<label class="customcheck">Super Admin
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>
				</div>
			</div>
    		<div class="form-group">
			    <label>Geogaphic region access</label>				
				<div class="checklabel">
					<label class="customcheck">Pacific
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>
					<label class="customcheck">Central
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>					
					<label class="customcheck">Northeast
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>
					<label class="customcheck">Atlantic
					  <input type="checkbox">
					  <span class="checkmark"></span>
					</label>
				</div>
			</div>
    	</div>	
  	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Cancel</button>
	    <button type="button" class="btn btn-primary" >Add</button>
	</div>
</div>
</ng-template>
</main>