<main>
  <section class="topsection facilitiessection">    
        <div class="viewrecent">
            <a routerLink="/dashboard" class="backlink"><i class="fa fa-chevron-circle-left"></i> Black</a>            
            <div class="row rfacilities">
                <div class="col-md-1">
                    <div class="dropsicon">
                        <img src="./assets/images/water-drops.png" alt="Facilities"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>Safe Harbor</h1>
                    <p><i class="fa fa-map-marker"></i> Near Conestoga, PA</p>
                </div>
                <div class="col-md-2">
                    <h1>226.61 <small>ft</small></h1>
                    <p>Safe Harbor Elevation</p>
                </div>
                <div class="col-md-2">
                    <h1>168.97 <small>ft</small></h1>
                    <p>Holtwood Elevation</p>
                </div>
                <div class="col-md-3 favbtns">
                    <button class="subscribe" routerLink="/dashboard/alerts-notifications">NEW ALERT</button>
                    <button class="subscribed">edit</button>
                </div>
            </div>
            <div class="row rfacilities other">
                <div class="col-md-1">
                    <div class="dropsicon">
                        <img src="./assets/images/water-drops.png" alt="Facilities"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <h1>Holtwood</h1>
                    <p><i class="fa fa-map-marker"></i> Near Conestoga, PA</p>
                </div>
                <div class="col-md-2">
                    <h1>4617 <small>cfs</small></h1>
                    <p>Current flow in the ...</p>
                </div>
                <div class="col-md-2">
                    <h1>4390 <small>cfs</small></h1>
                    <p>Forecast flow in  ...</p>
                </div>
                <div class="col-md-3 favbtns">
                    <button class="subscribe" routerLink="/dashboard/alerts-notifications">NEW ALERT</button>
                    <button class="subscribed">edit</button>
                </div>
            </div>
        </div>
  </section>
  
</main>
        