<div class="loginbox">
    <a routerLink="/dashboard" class="logo"><img src="./assets/images/logo-small.png" alt="Safe-waters"></a>
    <h1>SIGN IN</h1>
    <p>Log in to your personal account to use our admin panel</p>
    <form>
        <input type="email" name="email" placeholder="Email">
        <div class="password">
            <input type="password" name="password" placeholder="password">
            <i class="fa fa-eye-slash"></i>
            <!-- <i class="fa fa-eye"></i>                 -->
        </div>
        <a  routerLink="/forgot-password">Recovery password</a>
        <input type="submit" name="" value="LOG IN">
    </form>
    <a routerLink="/forgot-password" class="forgotpass">Forgot password?</a>
</div>