 <header>
    <a routerLink="/dashboard"class="logo"><img src="./assets/images/logo-full.png" alt="Safe-waters"></a>
    <a routerLink="/dashboard"class="moblogo"><img src="./assets/images/logo.png" alt="Safe-waters"></a>
    <ul>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-pie-chart"></i> Dashboard</a>
        </li>
        <li>
            <a routerLink="/portal-administration/facilities" routerLinkActive="active"><i class="fa fa-users"></i> Portal Administration</a>
        </li>
        <li>
            <a routerLink="/change-password" routerLinkActive="active"><i class="fa fa-lock"></i> Change Password</a>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active"><i class="fa fa-sign-out"></i> Sign Out</a>
        </li>
    </ul>
</header>