
<main>
   <section class="topsection">
    <div class="listviewbox">
      <div class="row m-0">
        <div class="col-md-5 p-0">
            <h1 class="headtext">Regions:</h1>
            <ul class="regionslist">
                <li>
                    <a href="#" class="active">All Regions </a>
                </li>          
                <li>
                    <a href="#">Maine </a>
                </li>          
                <li>
                    <a href="#">Maryland </a>
                </li>          
                <li>
                    <a href="#">Massachusetts </a>
                </li>          
                <li>
                    <a href="#">New Hampshire </a>
                </li>          
                <li>
                    <a href="#">New York</a>
                </li>          
                <li>
                    <a href="#">North Carolina </a>
                </li>          
                <li>
                    <a href="#">Pennsylvania</a>
                </li>          
                <li>
                    <a href="#">Tennessee</a>
                </li>          
                <li>
                    <a href="#">West Virginia </a>
                </li>          
                <li>
                    <a href="#">Pennsylvania </a>
                </li>          
                <li>
                    <a href="#">New York </a>
                </li> 
            </ul>
        </div>
        <div class="col-md-7 p-0">
            <div class="riverlist">
                <h1 class="headtext">River Systems:</h1>
                <ul>
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>St Regis</b> 2 Facilities</p>
                    </li> 
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Androscoggin</b> 2 Facilities</p>
                    </li> 
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Black</b> 2 Facilities</p>
                    </li> 
                    <li class="other" routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Kennebec</b> 2 Facilities</p>
                    </li> 
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Little Tennessee</b> 2 Facilities</p>
                    </li> 
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Penobscot</b> 2 Facilities</p>
                    </li> 
                    <li class="other" routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Penobscot</b> 2 Facilities</p>
                    </li> 
                    <li routerLink="/dashboard/facilities" >
                        <span>2 <img src="assets/images/wave-icon.png" alt="Systems"></span>
                        <p><b>Little Tennessee</b> 2 Facilities</p>
                    </li> 
                </ul>
            </div>
        </div>
      </div>  
    </div>      
  </section>
  
</main>
        